{% extends "@EasyAdmin/layout.html.twig" %}

{% block content_icon  %}{{ "backoffice_manual"|iconify|closest(1)|raw }}{% endblock %}
{% block content_title %}{{ title("backoffice_manual") }}{% endblock %}
{% block content_excerpt  %}{{ excerpt("backoffice_manual") }}{% endblock %}

{% block main_menu_wrapper %}
    {{ include("@Wikidoc/backoffice/manual_menu.html.twig") }}
{% endblock main_menu_wrapper %}

{% block content %}
{% if selected_document is defined and selected_document is not null %}
    <div class="text-right">{{selected_document|crudify({"label": ("@controllers.backoffice_manual.last_update"|trans)~": " ~ (selected_document.updatedAt|datetime) })}}</div>
    <div>
        <h1><a href="{{app.request.uri}}">{{ selected_document.title }}</a></h1>
        {% if selected_document.excerpt is not empty %}
            <p>{{ selected_document.excerpt }}</p>
            {% if selected_document.content is not empty %}<hr>{% endif %}
        {% endif %}
        
        {{selected_document.content|wysiwyg({headings:true})|raw}}
    </div>
{% else %}
    <div class="text-center">
    {{"@controllers.backoffice_manual.empty"|trans}}
    </div>
{% endif %}

{% endblock %}
